<!DOCTYPE html>
<html lang="en">

{% include "partials/dochead.njk" %}

<body>

	{% include "partials/header.njk" %}

	<main>
		<div class="container">
			<div class="row">
				<h2 class="header">Hello World!</h2>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p>
					Lorem ipsum dolor sit amet, ius eu graeci recusabo recteque, his ex natum probo ubique, eu usu laudem denique. At legere sensibus nam. Nostro offendit his no, vel tation reformidans voluptatibus no. Ad luptatum consequat mnesarchum has, nam unum vidit porro ne. Quo omnium democritum ei, tation placerat at usu, sit liber principes at. Mea probo soluta id.
					<br><br>
					Possit explicari ne quo, id eam error quando, no sit suas ullum. Utinam quaeque ius id. Choro offendit efficiendi ne sit, sumo molestiae id sea. His alia prima facer ex, eu vocibus electram mnesarchum mel.
				</p>
			</div>
		</div>
	</main>

	{% include "partials/scripts.njk" %}

</body>

{% include "partials/footer.njk" %}

</html>